{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <form class="form-horizontal" method="post">
        <fieldset>
          <legend>Registrar</legend>
          <div class="form-group" method="post">
            <div class="col-lg-10">
              {% csrf_token %}
              {% if error_bool %}
              <div class="card-panel">
                  <span class="red-text text-darken-2">OCORREU UM ERRO NA LEITURA DA CHAVE</span>
                  <br>
                  <span class="red-text text-darken-2">Motivo(s):</span>
                  <br>
                  <span class="red-text text-darken-2">{{error}}</span>
                  <br>
              </div>
              {% endif %}
              <div class="input-field col s12">
                <input id="username" type="text" class="validate" name="username">
                <label for="username">Usuário</label>
              </div>
              <div class="input-field col s12">
                <input id="username" type="text" class="validate" name="first_name">
                <label for="username">Nome</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password1">
                <label for="password">Senha</label>
                <span class="helptext"><ul><li>Sua senha não deve ser similar a outra informação pessoal.</li><li>Sua senha deve ter mais que 8 caracteres.</li><li>Sua senha não poderá ter apenas números.</li></ul></span>
              </div> 
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password2">
                <label for="password">Confirmação de Senha</label>
                <span class="helptext">Entre com a mesma senha para verificação.</span>
              </div> 
              <!-- <p><label for="id_username">Usuário:</label> <input type="text" name="username" required id="id_username" maxlength="150" autofocus /> <span class="helptext">Letras, digitos e @/./+/-/_ somente.</span></p>
              <p><label for="id_first_name">Nome:</label> <input type="text" name="first_name" id="id_first_name" maxlength="30" /></p>
              <p><label for="id_password1">Senha:</label> <input type="password" name="password1" required id="id_password1" /> <span class="helptext"><ul><li>Sua senha não deve ser similar a outra informação pessoal.</li><li>Sua senha deve ter mais que 8 caracteres.</li><li>Sua senha não poderá ter apenas números.</li></ul></span></p>
              <p><label for="id_password2">Confirmação de senha:</label> <input type="password" name="password2" required id="id_password2" /> <span class="helptext">Entre com a mesma senha para verificação.</span></p> -->
            </div>
            </div>
            <div class="row">
                <div class="col s1"><button type="submit" class="btn-large waves-effect waves-light green darken-2">Registrar</button></div>
                <div class="col s1 push-s1"><button type="reset" class="btn-large waves-effect waves-light yellow darken-2">Limpar</button></div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
