{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <legend>Login</legend>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{ message }}</h3>
        </div>
        <div class="panel-body">
            <h5 class="light" style="text-align: left;">Efetue o login para a realização da cópia da sua chave.</h5>
        </div>
      </div>
    </fieldset>
  </div>
</div>

{% endblock %}