{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <legend>Início</legend>
      <div class="panel panel-info center">
        <div class="panel-heading">
          <h1 class="panel-title">{{ message }}</h1>
        </div>
        <div class="panel-body">
            <h5 class="light">EasyKey sua máquina de cópia de chaves automática.</h5>
        </div>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn-large waves-effect waves-light blue darken-3">Toque para iniciar
                <i class="large material-icons right">touch_app</i>
            </button>
          </form>
      </div>
    </fieldset>
  </div>
</div>

{% endblock %}