{% extends 'base.html' %}

{% block content %}
<script>
function cut() {
    document.getElementById("cortar").classList.add('disabled');
    document.getElementById("barraestatica").style.visibility = "hidden";
    document.getElementById("barrainterminate").style.visibility = 'visible';
}
</script>
<div class="container" onload="desabilita()">
  <div class="row">
    <fieldset>
      <legend>Etapa 3/4</legend>
      <div class="panel panel-info center">
          <div class="card-panel">
              <span class="green-text text-darken-2">A Leitura da Chave Ocorreu Corretamente!</span>
          </div>
        <div class="panel-heading">
          <h1 class="panel-title">Corte da Chave</h1>
        </div>
        <div class="progress" id="barraestatica">
          <div class="determinate" style="width: 0%"></div>
        </div>
        <div class="progress" style="visibility: hidden;" id="barrainterminate">
            <div class="indeterminate"></div>
        </div>
        <div class="panel-body">
            <h5 class="light">Posicione a chave virgem no torno para ser cortada e pressione cortar.</h5>
        </div>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <button onclick="cut()" type="submit" class="btn-large waves-effect waves-light blue darken-3" id="cortar">Cortar
                <i class="large material-icons right">send</i>
            </button>
        </form>
      </div>
    </fieldset>
  </div>
</div>

{% endblock %}
