{% extends 'base.html' %}

{% block content %}
<script>
function sleep (time) {
  return new Promise((resolve) => setTimeout(resolve, time));
}
function stop() {
  document.getElementById("barraestatica").style.visibility = 'visible';
  document.getElementById("barrainterminate").style.visibility = "hidden";
    alert("A maquina parou");
    sleep(2000).then(() => {
        // Do something after the sleep!
        window.location.replace("http://localhost:8000/key_code/?error=True");
    });
}
function move() {
    var elem = document.getElementById("myBar");
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
        if (width >= 100) {
            clearInterval(id);
            sleep(2000).then(() => {
            // Do something after the sleep!
            window.location.replace("http://localhost:8000/key_finish/");
          });
        } else {
          if(document.getElementById("barraestatica").style.visibility != 'visible'){
            width++;
            document.getElementById("mybar").innerHTML = width+'%';
          }else {
            clearInterval(id);
          }
        }
    }
}
function cut() {
    document.getElementById("cortar").style.visibility = "hidden";
    document.getElementById("parar").style.visibility = 'visible';
    document.getElementById("barraestatica").style.visibility = "hidden";
    document.getElementById("barrainterminate").style.visibility = 'visible';
    move();
 //href="{% url 'key_finish' %}"
}
</script>
<div class="container">
  <div class="row">
    <fieldset>
      <legend>Etapa 2/3</legend>
      <div class="panel panel-info">
          <div class="card-panel">
              <span class="green-text text-darken-2">A Leitura da Chave Ocorreu Corretamente!</span>
          </div>
        <div class="panel-heading">
          <h1 class="panel-title">Corte da Chave</h1>
        </div>
        <div class="progress" id="barraestatica">
          <div class="determinate" style="width: 0%"></div>
        </div>
        <div class="progress" style="visibility: hidden;" id="barrainterminate">
            <div class="indeterminate"></div>
        </div>
        <div>
          <a id="mybar">0%</a>
        </div>
        <div class="panel-body">
            <h5 class="light" style="text-align: left;">Posicione a chave virgem no torno para ser cortada e pressione cortar.</h5>
        </div>
        <br>
      </div>
      <a onclick="cut()"  class="btn-large waves-effect waves-light blue darken-3" id="cortar">Cortar</a>
      <a onclick="stop()" style="visibility: hidden;" class="btn-large waves-effect waves-light red darken-3" id="parar">Parar Corte</a>
    </fieldset>
  </div>
</div>

{% endblock %}
