{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <legend>Etapa 3/3</legend>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Término do Corte</h3>
        </div>
        <div class="panel-body">
            <h5 class="light" style="text-align: left;">Cópia realizada com sucesso! Retire a cópia do torno.</h5>  
        </div>
      </div>
      <br>
      <a href="{% url 'key_code' %}" class="btn-large waves-effect waves-light blue darken-3">Cortar Uma Nova Chave</a>
      <a href="{% url 'key_cut' %}" class="btn-large waves-effect waves-light yellow darken-3">Cortar a Mesma Chave</a>
      <a href="{% url 'key_cut' %}" class="btn-large waves-effect waves-light red darken-3">Finalizar Operação</a>
    </fieldset>
  </div>
</div>

{% endblock %}
