{% extends 'base.html' %}

{% block content %}
<script>
function stop() {
    alert("A maquina parou");
}
function move() {
    var elem = document.getElementById("myBar");
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
        if (width >= 100) {
            clearInterval(id);
        } else {
            width++;
            elem.style.width = width + '%';
        }
    }
}
</script>
<div class="container">
  <div class="card-panel">
      <span class="green-text text-darken-2">A Leitura da Chave Ocorreu Corretamente!</span>
  </div>
  <div class="row">
    <fieldset>
      <legend>Etapa 2/3</legend>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Corte da Chave</h3>
        </div>
        <div class="panel-body">
            <h5 class="light" style="text-align: left;">Posicione a chave virgem no torno para ser cortada e pressione cortar.</h5>  
        </div>
        <br>
      </div>
      <a href="{% url 'key_finish' %}" class="btn-large waves-effect waves-light blue darken-3 ">Cortar</a>
      <a onclick="stop()" class="btn-large waves-effect waves-light red darken-3">Parar Corte</a>
    </fieldset>
  </div>
</div>

{% endblock %}
