{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <legend>Etapa 3/4</legend>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Etapa 3(Corte)</h3>
        </div>
        <div class="panel-body">
          Posicione uma chave nova no torno para ser cortada e pressione cortar
        </div>
      </div>
      <a href="#" class="btn btn-primary btn-lg btn-success">CORTAR</a>
      <a href="#" class="btn btn-primary btn-lg btn-danger">PARAR CORTE</a>

    </fieldset>
  </div>
</div>

{% endblock %}
