{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <legend>Etapa 2/4</legend>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Etapa 2(Verificação)</h3>
        </div>
        <div class="panel-body">
          A chave foi lida corretamente. O código da chave foi gerado, avance para ir para etapa de posicionamento e corte da chave.
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Etapa 2(Verificação)</h3>
        </div>
        <div class="panel-body">
          A chave NÃO foi lida corretamente. Não foi possível definir o código da chave, repita o processo.
        </div>
      </div>
      <a href="#" class="btn btn-primary btn-lg btn-success">Avançar</a>
      <a href="#" class="btn btn-primary btn-lg btn-danger">Retornar a etapa 1</a>

    </fieldset>
  </div>
</div>

{% endblock %}
