{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <legend>Etapa 1/4</legend>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Etapa 1</h3>
        </div>
        <div class="panel-body">
          Posicione a chave corretamente para ser lida! Após posicionada confime no botão abaixo.
        </div>
      </div>
      <a href="{% url 'step2' %}" class="btn btn-primary btn-lg btn-success">LER CÓDIGO DA CHAVE</a>
    </fieldset>
  </div>
</div>

{% endblock %}
