{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <fieldset>
      <legend>Etapa 4/4</legend>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Etapa 4(Finalização)</h3>
        </div>
        <div class="panel-body">
          Cópia realizada com sucesso! Retire a cópia do torno.
        </div>
      </div>
      <a href="{% url 'step1' %}" class="btn btn-primary btn-lg btn-success">CORTAR UMA NOVA CHAVE</a>
      <a href="{% url 'step3' %}" class="btn btn-primary btn-lg btn-warning">CORTAR A MESMA CHAVE</a>
    </fieldset>
  </div>
</div>

{% endblock %}
